

  .menu {
    width: 200px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
    margin: 1%;
  }


.menu-item {
    padding: 10px; 
    color: #fff; 
    transition: background-color 0.3s; 
}


.menu-item:nth-child(1) {
    background-color: #a2c2e6; 
}

.menu-item:nth-child(2) {
    background-color: #6fa3d8; 
}

.menu-item:nth-child(3) {
    background-color: #3b7dd8; 
}

.menu-item:nth-child(4) {
    background-color: #0073a8; /
}


.menu-item:hover {
    background-color: #005f8a; /
}



.menu1 {
  display: flex;
  width: 100%; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  overflow: hidden; 
}


.menu1-item {
  flex: 1; 
  padding: 10px; 
  color: #fff; 
  text-align: center; 
  transition: background-color 0.3s;
}


.menu1-item:nth-child(1) {
  background-color: #e0f0ff;
}

.menu1-item:nth-child(2) {
  background-color: #a2c2e6; 
}

.menu1-item:nth-child(3) {
  background-color: #6fa3d8; 
}

.menu1-item:nth-child(4) {
  background-color: #0073a8; 
}


.menu1-item:hover {
  background-color: #005f8a; 
}



.menu3 {
  display: flex; 
  justify-content: center; 
  border-bottom: 2px solid #4CAF50; 
}


.menu3-item {
  padding: 10px 20px; 
  color: #000000; 
  text-align: center; 
  transition: background-color 0.3s, color 0.3s, text-decoration 0.3s; 
  cursor: pointer; 
}


.menu3-item.active {
  background-color: #4CAF50; 
  color: #fff; 
}


.menu3-item:hover {
  background-color: #7cda7c; 
  text-decoration: underline solid 3px #4CAF50;
}

h1{
  text-align: center;
}


.menu2 {
  background-color: #d0e6c2; 
  padding: 10px; 
  border-radius: 8px; 
  width: 200px; 
}

.menu2-item {
  padding: 10px; 
  cursor: pointer; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  transition: background-color 0.3s; 
}

.menu2-item:hover {
  background-color: #b0d6a2; 
}

.menu2-item::after {
  content: '→'; 
  font-size: 1.2em; 
  opacity: 0.5; 
  transition: opacity 0.3s; 
}

.menu2-item:hover::after {
  opacity: 1; 
}

.menu4 {
  display: flex;
  background-color: #009bc2; 
  padding: 10px;
  border-radius: 5px; 
  justify-content: center; 
  
}

.menu4-item {
  color: #333; 
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px; 
  margin-right: 5px; 
  transition: background-color 0.3s;
}

.menu4-item:hover {
  background-color: #b0c4de; 
}

.menu4-item.active {
  background-color: #87ceeb; 
  color: white; 
}